<h3>- here the admin can do login?<br>
    - it is here the admin painel?
</h3>

<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" id="usernameInput" placeholder="Enter Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="passwordInput" placeholder="Enter Password">

    <input type="submit" value="Login" class="btn">
</form>